<div class="jumbotron">
  <h1 class="display-4">Your Hair Consultation</h1>
  <p class="lead">Our team of expert Barbers and Hairdressers at Blades are skilled in giving you the haircut, style and colour you want.  During your consultation your barber or hairdresser will talk to you about the look you want to achieve – to fit the type of job you do, the style of clothes you usually wear and how you wear your hair every day; making sure your hair not only looks great when you leave the salon but it works for you every day.</p>
  <hr class="my-4">
  <p>Be honest and upfront with your hairdresser. If you’re the kind of person that’s more likely to press the snooze button rather than get up and style your hair, tell your hairdresser.  It’s all very well leaving the salon looking and feeling fabulous but you need a style that works in your daily life.</p>
  <!--p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p-->
</div>