<h1>Wellcome to Barber Shop!</h1>
<p>We are open</p>

<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
    <li data-target="#demo" data-slide-to="3"></li>
    <li data-target="#demo" data-slide-to="4"></li>    
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="5.jpg" alt="Los Angeles">
    </div>
    <div class="carousel-item">
      <img src="6.jpg" alt="Chicago">
    </div>
    <div class="carousel-item">
      <img src="7.jpg" alt="New York">
    </div>
    <div class="carousel-item">
      <img src="8.jpg" alt="New York">
    </div>
    <div class="carousel-item">
      <img src="9.jpg" alt="New York">
    </div>

  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>

</div>

<form action = "/" method="POST">

        Your name:
	<p><input type="text" name="user_name"></input></p>
        Your phone:
	<p><input type="text" name="phone"></input></p>
        Date and time:
	<p><input type="text" name="date_time"></input></p>
	<p><input type="submit"></input></p>

</form>