<h1>Wellcome to Barber Shop!</h1>
<p>We are open</p>

<form action = "/" method="POST">

        Your name:
	<p><input type="text" name="user_name"></input></p>
        Your phone:
	<p><input type="text" name="phone"></input></p>
        Date and time:
	<p><input type="text" name="date_time"></input></p>
	<p><input type="submit"></input></p>

</form>