.carousel-inner img {
  display: block;
  height: auto;
  max-width: 100%;
  /* дополнительно их выровняем по центру */
  margin-left: auto;
  margin-right: auto;
  /* и добавим внешний нижний отступ */
  margin-bottom: 15px;
}
/*
.form-control:focus{
box-shadow: -2 5px 11px 0 rgba(66, 133, 244,.18), 
0 4px 15px 0 rgba(66, 133, 244,.15);
}
/*
#top_menu{
	max-width: 728px;
}
.navbar{
  max-width: 728px;
}
*/
